<div class="pull-right">
  <input class="form-control input-sm mb-10" placeholder="Filter results" ng-model="searchText">
</div>

<div tasty-table bind-resource="resource" bind-filters="searchText" bind-theme="tableTheme" watch-resource="collection">
  <table class="table table-striped table-condensed table-hover table-bordered table-responsive">
    <colgroup>
      <col/>
      <col width="50" />
      <col width="50" />
      <col width="50" />
      <col width="50" />
      <col width="225" />
      <col width="175" />
      <col width="30" />
    </colgroup>
    <thead tasty-thead bind-not-sort-by="tableNotSortBy">
    </thead>
    <tbody>
      <tr ng-repeat="row in rows track by $index">
        <td>{{ row.name }}</td>
        <td class="text-center"><i ng-class="getProjectsIconClass(row.overallStatus);"></i>
        </td>
        <td class="text-center"><i ng-class="getProjectsIconClass(row.budgetStatus);"></i>
        </td>
        <td class="text-center"><i ng-class="getProjectsIconClass(row.resourceStatus);"></i>
        </td>
        <td class="text-center"><i ng-class="getProjectsIconClass(row.scheduleStatus);"></i>
        </td>
        <td>{{ row.projectManager }}</td>
        <td>{{ row.modified | date:'medium'}}</td>
        <td class="text-center">
          <a ui-sref="edit({formID:row.id})">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div tasty-pagination></div>
</div>
